#App {
  text-align: center;
  /* 追記 */
  background-image: url('./img/back_hatake.jpg');
  background-size: cover;
 }

.App-logo {
  height: 40vmin;
}

.App-header {
  width: 80%;
  background-color:white;
  display: inline-block;
  flex-direction: column;
  text-align: left;
  font-size: calc(20px + 2vmin);
  color: black;
}
.App-header img{
  display: inline;
}
.App-header h1{
  vertical-align: top;
  display: inline;
}

.App-link {
  color: #09d3ac;
}
#App .graph{
  width: 80%;
  display: inline-block;
  background-color: white;
}
#time{
  color:darkorange;
}
.test{
  text-align: center;
  display: inline-block;
}
#App .time{
  text-align: center;
}

button{
  font-size: 20px;
  padding: 5px;
  margin-right:15px ;
}
